@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h4>Quotes:</h4>
        <div id="quotesList">

        </div>
        <div id="quotesListMessage" class="alert alert-primary" style="display:none" role="alert">
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>Add a Quote:</h4>
        <form>
            <div class="form-group">
                <label for="quoteDescription">Description</label>
                <input type="text" id="quoteDescription" name="quoteDescription" class="form-control" />
            </div>

            <div class="form-group">
                <label for="quoteAuthor">Author</label>
                <input type="text" id="quoteAuthor" name="quoteAuthor" class="form-control" />
            </div>

            <div class="form-group ui-widget">
                <label for="quoteTags">Tags</label>
                <input type="text" id="quoteTags" name="quoteTags" class="form-control" />
            </div>

            <button type="button" id="addQuoteBtn" class="btn btn-primary">Add quote</button>
        </form>
        <p id="newQuoteMessage"></p>
    </div>
</div>